<h1>Places</h1>
<div class="row">
  <% for place in @places %>
    <div class="col-md-3 col-sm-6">
      <h4>
        <a href="/places/<%= place["id"]%>"><%= place["name"] %>
      </h4>
    </div>
  <% end %>
</div>

  <div class="row">
    <div class="col">
      <p>
        <a href="/places/new" class="btn btn-primary">New Place</a>
      </p>
    </div>
  </div>
