<div class="row">
<div class="col text-left">
<h1>Places</h1>
      <a href="/places/new/" class="btn btn-success">New Place</a>
    </div>
</div>

&nbsp;

<div class="row">
  <% for place in @places %>
    <div class="col">
      <h4>
        <a href="/places/<%= place["id"]%>"><%= place["name"] %>
      </h4>
    </div>
  <% end %>
</div>


 </div>
